data/machine_measurements.csv filter=lfs diff=lfs merge=lfs -text
data/record_list.csv filter=lfs diff=lfs merge=lfs -text
/home/jieun/vit-ECG_simpleCNN-for-practice/data/machine_measurements.csv filter=lfs diff=lfs merge=lfs -text
/home/jieun/vit-ECG_simpleCNN-for-practice/data/record_list.csv filter=lfs diff=lfs merge=lfs -text
data/*.csv filter=lfs diff=lfs merge=lfs -text
